.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
node_modules/
feature/flask-inventory-api
build/
.DS_Store
*.sh
*.json
pkgs/
cache/
venv/
.venv/
*/venv/
instance/
*.db
__pycache__/
=======
.env
main
